body {
  font-family: 'Roboto', sans-serif;
  background-color: aliceblue;
}

button {
  width: 120px;
  height: 50px;
  border-color: orange;
  border-radius: 10px;
  margin-bottom: 1vh;
  cursor: pointer;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  background-color: aliceblue;
  transition: 0.3s all;
}

button:hover {
  color: orange;
  box-shadow: 2px 2px 11px -3px rgba(0,0,0,0.80)
}

.add-third, .add-noun, .add-verb {
  width: 100%;
}

.word-input {
  font-size: 40px;
  margin-left: 180px;
  margin-top: 310px;
  font-family: Cinzel, serif;
  animation: 1s ease 0s 1 normal none running pop-text;
  white-space: nowrap;
  cursor: pointer;
}

.content-wrapper {
  display: flex;
}

.list-containers {
  padding: 1vw;
  overflow: hidden;
  border: 1px solid grey;
  border-radius: 15px;
  list-style-type: none;
  font-style: italic;
  font-size: 20px;
  word-wrap: break-word;
}

li {
  padding-bottom: 1vw;
}

.add-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 0.5vw
}

.wrapper-add-general {
  display: flex;
}

.add-third {
  font-size: 10px
}


.word-flex {
  display: flex;
  flex-direction: column;
  margin-left: -130px;
}

.flex-cross {
  display: flex;
  justify-content: space-between;
}


.flex-cross:hover .delete-cross {
  display: block;
  color: rgb(134, 4, 4);
}

.delete-cross {
  padding-top: 4px;
  color: grey;
  font-size: 16px;
  cursor: pointer;
}

.flex-save-buttons {
  margin-left: 200px;
}

.reset-save, .delete-all-words {
  border-color: rgb(131, 0, 0);
}

.reset-save:hover, .delete-all-words:hover{
  color: rgb(131, 0, 0);
}

@keyframes pop-text {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* .pointer {

} */